<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>




<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Tecnologías Web</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.ucb.edu.bo/">UCB</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>

<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/img/foto3.jpg" class="d-block w-75" alt="...">

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Top 10 frameworks 2021.</h1>
            <p>Conoce los mejores frameworks para el desarrollo web.</p>
            <p><a class="btn btn-lg btn-primary" href="#inicio">Ver más</a></p>
          </div>
        </div>
      </div>
    </div>
    
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing" id="inicio">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="currentColor" class="bi bi-laptop" viewBox="0 0 16 16">
          <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
        </svg>

        <h2>UCB</h2>
        <p>La Universidad Católica Boliviana recientemente certificada internacionalmente por QS Stars Rating System, es una de las mejores universidades de Bolivia que por más de cinco décadas forma líderes en distintas áreas del conocimiento.</p>
        <p><a class="btn btn-warning" href="https://www.ucb.edu.bo/">Ver más &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="currentColor" class="bi bi-laptop" viewBox="0 0 16 16">
          <path d="M13.5 3a.5.5 0 0 1 .5.5V11H2V3.5a.5.5 0 0 1 .5-.5h11zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5z"/>
        </svg>

        <h2>Tecnologías Web</h2>
        <p>El buen manejo de las tecnologías online
          proporciona una ventaja competitiva a los profesionales e instituciones que hacen uso
          efectivo de estas tecnologías.</p>
        <p><a class="btn btn-warning" href="#">Ver más &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="currentColor" class="bi bi-border-style" viewBox="0 0 16 16">
          <path d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-1zm0 4a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5v-1zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm8 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-4 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm8 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-4-4a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5v-1z"/>
        </svg>

        <h2>Framework</h2>
        <p>Framework, es un conjunto de estandarizado de conceptros, prácticas y criterios para enfocar un tipo de problematica particular que sirve como referencia, para enfrentar y resolver nuevos problemas de índole similar.</p>
        <p><a class="btn btn-warning" href="https://rockcontent.com/es/blog/framework/">Ver más &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->



    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">React</h2>
        <h4>Idioma basado en JavaScript</h4>
        <p class="lead">Desarrollada y mantenida por Facebook, React es técnicamente una biblioteca frontend en lugar de un marco tradicional, pero los desarrolladores la utilizan constantemente como una especie de marco. Fue el primero en usar una arquitectura basada en componentes, algo que luego fue adoptado por frameworks populares como Vue y Angular, que también están en esta lista. React se puede utilizar del lado del servidor o del lado del cliente.</p>
        <p><a class="btn btn-info" href="https://es.reactjs.org/">Ver más &raquo;</a></p>
      </div>
      <div class="col-md-5">
        <img src="../assets/img/react1.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Angular</h2>
        <h4>Lenguaje: JavaScript/TypeScript</h4>
        <p class="lead">Desarrollado por primera vez por Google y luego lanzado como un marco de código abierto, Angular es popular para su uso en la creación de aplicaciones de una sola página a gran escala que también son fáciles de mantener. Weather, PayPal, Netflix y YouTube de PS3 utilizan Angular. Aquellos que están familiarizados con la pila de desarrollo MEAN conocen bien Angular, a la que se unen ExpressJS, MongoDB y NodeJS.</p>
        <p><a class="btn btn-info" href="https://angular.io/">Ver más &raquo;</a></p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../assets/img/angular.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Django</h2>
        <h4>Lenguaje: Python.</h4>
        <p class="lead">Con mucho, uno de los marcos más conocidos y utilizados que existen, Django es una plantilla de vista de modelo (MVT), que se usa principalmente para crear aplicaciones web. Reconocido por su excelente seguridad incorporada y la función de "baterías incluidas", Django es altamente intuitivo, versátil y fácilmente escalable. Pinterest, Instagram y Quora lo usan.</p>
        <p><a class="btn btn-info" href="https://www.djangoproject.com/">Ver más &raquo;</a></p>
      </div>
      <div class="col-md-5">
        <img src="../assets/img/django.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Ruby on Rails</h2>
        <h4>Lenguaje: Ruby</h4>
        <p class="lead">Desarrollado por primera vez por Google y luego lanzado como un marco de código abierto, Angular es popular para su uso en la creación de aplicaciones de una sola página a gran escala que también son fáciles de mantener. Weather, PayPal, Netflix y YouTube de PS3 utilizan Angular. Aquellos que están familiarizados con la pila de desarrollo MEAN conocen bien Angular, a la que se unen ExpressJS, MongoDB y NodeJS.</p>
        <p><a class="btn btn-info" href="https://rubyonrails.org/">Ver más &raquo;</a></p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../assets/img/ruby.png  " class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Laravel</h2>
        <h4>Lenguaje: PHP.</h4>
        <p class="lead">Lanzado originalmente en 2011 por Taylor Otwell, Laravel es un marco MVC que utiliza el popular lenguaje PHP. Este marco es excelente para principiantes, pero los desarrolladores expertos aún pueden encontrar mucho que apreciar.</p>
        <p><a class="btn btn-info" href="https://laravel.com/">Ver más &raquo;</a></p>
      </div>
      <div class="col-md-5">
        <img src="../assets/img/larabel.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">ASP.net</h2>
        <h4>Lenguaje: C#</h4>
        <p class="lead">Desarrollado y lanzado por Microsoft, ASP.NET es un marco diseñado para crear aplicaciones web utilizando .NET para PC y dispositivos móviles. Es elegante, minimalista y de alto rendimiento. Getty Images, Taco Bell y Stack Overflow tienen aplicaciones creadas con ASP.NET.</p>
        <p><a class="btn btn-info" href="https://dotnet.microsoft.com/apps/aspnet">Ver más &raquo;</a></p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../assets/img/asp.png  " class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Express</h2>
        <h4>Lenguaje: JavaScript.</h4>
        <p class="lead">Node.js está ganando popularidad en estos días, por lo que no sorprende que Express también lo esté. Express es un marco mínimo y muy versátil que se puede utilizar para desarrollar rápidamente aplicaciones web basadas en Node.js. Es muy mínimo en su forma original, pero tiene varias características que se pueden implementar como complementos. Storify, IBM y Uber utilizan Express, e incluso es compatible con los marcos Kraken, Sails y Loopback.</p>
        <p><a class="btn btn-info" href="https://expressjs.com/es/">Ver más &raquo;</a></p>
      </div>
      <div class="col-md-5">
        <img src="../assets/img/e.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Vue</h2>
        <h4>Lenguaje: JavaScript</h4>
        <p class="lead">Vue debutó por primera vez en 2014, principalmente pensado como una alternativa más ágil para los usuarios de Angular. Este marco progresivo se puede adoptar en porciones aisladas de proyectos existentes sin ningún problema, y ​​el ecosistema Vue también se puede utilizar para desarrollar aplicaciones en la interfaz.</p>
        <p><a class="btn btn-info" href="https://vuejs.org/">Ver más &raquo;</a></p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../assets/img/vue.png  " class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="...">

      </div>
    </div>


    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Spring</h2>
        <h4>Lenguaje: Java.</h4>
        <p class="lead">Spring es, con mucho, la opción de desarrollo de aplicaciones más popular para Java, es un marco MVC utilizado por varias entidades grandes, como Wix y Ticketmaster. Es un marco avanzado que incluye numerosos proyectos hermanos que pueden mejorar el rendimiento y escalar rápidamente.</p>
        <p><a class="btn btn-info" href="https://spring.io/">Ver más &raquo;</a></p>
      </div>
      <div class="col-md-5">
        <img src="../assets/img/spring.svg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Ember</h2>
        <h4>Lenguaje: JavaScript</h4>
        <p class="lead">Ember hizo su debut en 2011 y ya estaba ganando premios en 2015. Este marco de JavaScript es uno de los favoritos entre los desarrolladores que valoran el desarrollo de aplicaciones robustas y escalables, junto con una eficiencia mejorada. Es altamente productivo desde el primer momento y se está utilizando para algunas de las aplicaciones más reconocidas que existen, como Apple Music, LinkedIn, Netflix y Google.</p>
        <p><a class="btn btn-info" href="https://emberjs.com/">Ver más &raquo;</a></p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../assets/img/ember.png  " class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="...">

      </div>
    </div>

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Volver arriba</a></p>
    <p>&copy; 2021 Realizado por Amir Rojas Belldio. &middot;</p>
  </footer>
</main>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>